* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: white;
  text-decoration: none;
}
:root {
  --title-color: #366bfd;
  --sub-heading-color: #f27e12;
  --heading-color: #18ed42;
  --link-color: blue;
  --code-bg-color: #161616;
  --code-text-color: #f52d2dd5;
  --tag-bg-color: #252622;
  --tag-text-color: #dcfc09;
}

h1 {
  font-size: 3vw;
  @media screen and (max-width: 768px) {
    font-size: 5vw;
  }
  @media screen and (max-width: 480px) {
    font-size: 8vw;
  }
}

h2 {
  font-size: 2.5vw;
  @media screen and (max-width: 768px) {
    font-size: 4.25vw;
  }
  @media screen and (max-width: 480px) {
    font-size: 7vw;
  }
}
h3 {
  font-size: 1.5rem;
  @media screen and (max-width: 768px) {
    font-size: 3vw;
  }
  @media screen and (max-width: 480px) {
    font-size: 5vw;
  }
}
p {
  font-size: 1rem;
  @media screen and (max-width: 768px) {
    font-size: 2.75vw;
  }
  @media screen and (max-width: 480px) {
    font-size: 4.5vw;
  }
}

body {
  background-color: rgb(8, 8, 8);
  color: #fff3f3ff;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121111eb;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #282828f7;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
